<h1>Favorites</h1>

<div>
  <% if @favorites.exists? %>
    <table class = "ui celled padded compact table">
      <tr>
        <th>Name </th>
        <th>Type </th>
      </tr>

      <% @favorites.each do |favorite| %>
        <tr>
          <% if favorite.item_id %>
            <td><%= link_to favorite.item.item_name, favorite.item %></td>
            <td><%= Item %></td>
          <% elsif favorite.store_id %>
            <td><%= link_to favorite.store.store_name, favorite.store %></td>
            <td><%= Store %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <%= pagy_semantic_nav(@pagy).html_safe %>
  <% else %>
    <p>There is no existing item</p>
  <% end %>
</div>
